.DS_Store
node_modules/
unpackage/
dist/
log/
cdn/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea

# vscode工程内配置
!.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/uniapp.code-snippets

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.history
project.private.config.json

.hbuilderx/